# London Housing Case Study - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [14]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np
# Load the pyplot collection of functions from matplotlib, as plt 
from matplotlib import pyplot as plt
# We might need this
from datetime import datetime as dt

In [ ]:
#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [51]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  Pick non-empty columns only pick boroughs and City of london ignore: AJ:AK, AM:AU, AW
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None, usecols = 'A:AH')

In [ ]:
### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

In [ ]:
**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [52]:
print(properties.head())
print(properties.shape)
print(properties.columns)

  Unnamed: 0 City of London Barking & Dagenham       Barnet       Bexley  \
0        NaT      E09000001          E09000002    E09000003    E09000004
1 1995-01-01    91448.98487         50460.2266  93284.51832  64958.09036
2 1995-02-01    82202.77314        51085.77983  93190.16963  64787.92069
3 1995-03-01    79120.70256        51268.96956  92247.52435  64367.49344
4 1995-04-01    77101.20804        53133.50526  90762.87492  64277.66881

         Brent      Bromley       Camden      Croydon       Ealing  ...  \
0    E09000005    E09000006    E09000007    E09000008    E09000009  ...
1  71306.56698  81671.47692  120932.8881  69158.16225  79885.89069  ...
2  72022.26197  81657.55944  119508.8622  68951.09542  80897.06551  ...
3  72015.76274  81449.31143  120282.2131  68712.44341  81379.86288  ...
4  72965.63094  81124.41227   120097.899  68610.04641  82188.90498  ...

        Merton       Newham    Redbridge Richmond upon Thames    Southwark  \
0    E09000024    E09000025    E09000026            E09000027    E09000028
1   82070.6133  53539.31919  72189.58437          109326.1245  67885.20344
2  79982.74872  53153.88306   72141.6261          111103.0394   64799.0648
3  80661.68279  53458.26393  72501.35502          107325.4742  65763.29719
4  79990.54333  54479.75395  72228.60295               106875  63073.62117

        Sutton Tower Hamlets Waltham Forest   Wandsworth  Westminster
0    E09000029     E09000030      E09000031    E09000032    E09000033
1  71536.97357   59865.18995    61319.44913  88559.04381  133025.2772
2  70893.20851   62318.53353    60252.12246  88641.01678  131468.3096
3  70306.83844   63938.67686    60871.08493  87124.81523  132260.3417
4   69411.9439   66233.19383    60971.39722  87026.00225  133370.2036

[5 rows x 34 columns]
(322, 34)
Index(['Unnamed: 0', 'City of London', 'Barking & Dagenham', 'Barnet',
       'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield',
       'Greenwich', 'Hackney', 'Hammersmith & Fulham', 'Haringey', 'Harrow',
       'Havering', 'Hillingdon', 'Hounslow', 'Islington',
       'Kensington & Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham',
       'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark',
       'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth',
       'Westminster'],
      dtype='object')

In [ ]:
**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [53]:
properties = properties.transpose().reset_index()
properties.columns = properties.iloc[0]
properties = properties.iloc[1:]

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [54]:
# Rename columns for London Borough and Borough Code and call them London_Borough and Borough_Code
properties.columns.values[0]='London_Borough'
properties.columns.values[1] = 'Borough_Code'
print(properties.columns)
# Clean up the time stamp for column use %Y-%m
timeList=[x.to_pydatetime() for x in properties.columns[2:]]
timeStrList = [x.strftime('%Y-%m') for x in timeList]
properties.columns.values[2:] = timeStrList

Index([   'London_Borough',      'Borough_Code', 1995-01-01 00:00:00,
       1995-02-01 00:00:00, 1995-03-01 00:00:00, 1995-04-01 00:00:00,
       1995-05-01 00:00:00, 1995-06-01 00:00:00, 1995-07-01 00:00:00,
       1995-08-01 00:00:00,
       ...
       2020-12-01 00:00:00, 2021-01-01 00:00:00, 2021-02-01 00:00:00,
       2021-03-01 00:00:00, 2021-04-01 00:00:00, 2021-05-01 00:00:00,
       2021-06-01 00:00:00, 2021-07-01 00:00:00, 2021-08-01 00:00:00,
       2021-09-01 00:00:00],
      dtype='object', name=0, length=323)

In [ ]:
**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

In [55]:
propLong = pd.melt(properties, id_vars = ('London_Borough', 'Borough_Code'), ignore_index=True, var_name='Yr-mnth', value_name='House_Prices')
print(propLong.head())

       London_Borough Borough_Code  Yr-mnth House_Prices
0      City of London    E09000001  1995-01  91448.98487
1  Barking & Dagenham    E09000002  1995-01   50460.2266
2              Barnet    E09000003  1995-01  93284.51832
3              Bexley    E09000004  1995-01  64958.09036
4               Brent    E09000005  1995-01  71306.56698

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

In [56]:
[type(propLong[f'{x}'][0]) for x in propLong.columns]

[str, str, str, float]

In [ ]:
**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

In [61]:
propLong = propLong[propLong['House_Prices']!='-']

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

plt.plot(propLong[propLong['London_Borough']=='City of London']['Yr-mnth'], propLong[propLong['London_Borough']=='City of London']['House_Prices']) 
plt.show()

In [ ]:
To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

In [74]:
StrpYr = lambda YrMnth: YrMnth[:4]
propLong['yr']=[StrpYr(YrMnth) for YrMnth in propLong['Yr-mnth']]

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

In [105]:
def create_price_ratio(boro):
    boro_1998 = np.mean(propLong[(propLong['London_Borough']==boro) & (propLong['yr']=='1998')]['House_Prices'])
    boro_2018 = np.mean(propLong[(propLong['London_Borough']==boro) & (propLong['yr']=='2018')]['House_Prices'])
    return boro_1998/boro_2018

boroList = propLong['London_Borough'].unique()
grwthDict = {}

for boro in boroList:
    grwthDict.update({boro: round(create_price_ratio(boro),4)})

min_key = min(grwthDict, key=grwthDict.get)
print(min_key, grwthDict[min_key])

max_key = max(grwthDict, key=grwthDict.get)
print(max_key, grwthDict[max_key])

print('City of London', grwthDict['City of London'])

Hackney 0.1613
Hounslow 0.2515
City of London 0.1886

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!

Conclusions
 
From the analysis conducted, the London borough with the most growth (smallest ratio of average 1998 prices to average 2018 prices) is the borough of Hackney.  Hackney had a ratio of 0.1613. The borough with the least growth is Hounslow with an index of 0.2515.  As a comparison, The City of London had a growth index of 0.1886, somewhere in the middle of the two extremes.